body{
    background-color: #dfdfdf;
    height: 150vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-left: 0%;
    margin-left: 0%;
}

.logo{
    display: grid;
    justify-content: center;
}

.navbar-nav{
    background-color: rgba(248, 248, 248, 0.672);
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10vh;
    align-items: center;
}
.nav-link{
    padding-left: 5vw;
    text-decoration: none;
    color: grey;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.nav-link:hover{
    color: black;
}
